body {
  position: relative;
}
.main_wrap {
  position: absolute;
  overflow: hidden;
  margin-top: 50px;
  width: 100%;
}
.main_wrap .con_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.main_wrap .con_wrap .con1 {
  position: relative;
  width: 100%;
  background-color: #221236;
  color: #fff;
}
.main_wrap .con_wrap .con1 .con1_wrap {
  width: 100%;
  height: 560px;
  top: 40%;
  margin-top: -280px;
  position: absolute;
}
.main_wrap .con_wrap .con1 .con1_wrap div {
  position: relative;
  top: -25px;
}
.main_wrap .con_wrap .con1 .con1_wrap div .title {
  font-size: 44px;
}
.main_wrap .con_wrap .con1 .con1_wrap div .title_en {
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.main_wrap .con_wrap .con1 .con1_wrap div .ems .yinhao1_zuo {
  position: relative;
  top: -30px;
}
.main_wrap .con_wrap .con1 .con1_wrap div .ems span {
  font-size: 48px;
}
.main_wrap .con_wrap .con1 .con1_wrap div .ems .yinhao1_you {
  position: relative;
  top: 17px;
}
.main_wrap .con_wrap .con1 .con1_wrap div p {
  font-size: 20px;
  padding-bottom: 5px;
}
.main_wrap .con_wrap .con1 .con1_wrap .donext {
  height: 58px;
  width: 58px;
  background: url(../img/aboutxiaoniao/donext.png) 0 -58px no-repeat;
  margin: 20px auto 0;
  cursor: pointer;
}
.main_wrap .con_wrap .con1 .con1_wrap .donext:hover {
  background-position: 0 0;
  transition: all 0.5s ease 0s;
}
.main_wrap .con_wrap .con2 {
  position: relative;
  width: 100%;
  min-width: 1100px;
  overflow: hidden;
}
.main_wrap .con_wrap .con2 .prev,
.main_wrap .con_wrap .con2 .next {
  z-index: 9999;
  width: 58px;
  height: 58px;
  background: url(../img/aboutxiaoniao/goleft.png) no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -29px;
  cursor: pointer;
}
.main_wrap .con_wrap .con2 .prev {
  left: 60px;
}
.main_wrap .con_wrap .con2 .prev:hover {
  background-position: -58px 0;
  transition: all 0.5s ease 0s;
}
.main_wrap .con_wrap .con2 .next {
  background: url(../img/aboutxiaoniao/goright.png) -58px 0 no-repeat;
  right: 60px;
}
.main_wrap .con_wrap .con2 .next:hover {
  background-position: 0 0;
  transition: all 0.5s ease 0s;
}
.main_wrap .con_wrap .con2 .con2_wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 99999px;
  height: 100%;
}
.main_wrap .con_wrap .con2 .con2_wrap .describle {
  background: #fff;
  float: left;
  min-width: 1100px;
  height: 100%;
  position: relative;
}
.main_wrap .con_wrap .con2 .con2_wrap .describle .describle_condent {
  height: 560px;
  position: absolute;
  top: 45%;
  margin-top: -280px;
  width: 100%;
  text-align: center;
}
.main_wrap .con_wrap .con2 .con2_wrap .describle .describle_condent .title {
  font-size: 54px;
  color: #311759;
  font-weight: bold;
}
.main_wrap .con_wrap .con2 .con2_wrap .describle .describle_condent .ems {
  font-size: 18px;
  color: #6b6a6f;
  width: 630px;
  line-height: 30px;
  margin: 0 auto;
  position: relative;
  margin-top: 20px;
}
.main_wrap .con_wrap .con2 .con2_wrap .describle .describle_condent .ems .yinhao1_zuo {
  position: absolute;
  left: -34px;
  top: -3px;
}
.main_wrap .con_wrap .con2 .con2_wrap .describle .describle_condent .ems .yinhao1_you {
  position: absolute;
  right: -30px;
  top: 64px;
}
.main_wrap .con_wrap .con2 .con2_wrap .describle .describle_condent .app_img img {
  margin-top: 20px;
  margin-right: 30px;
}
.main_wrap .con_wrap .con2 .con2_wrap .describle2 .describle_condent {
  width: 700px;
  left: 50%;
  margin-left: -350px;
  top: 50%;
}
.main_wrap .con_wrap .con2 .con2_wrap .describle2 .describle_condent .block > * {
  float: left;
}
.main_wrap .con_wrap .con2 .con2_wrap .describle2 .describle_condent .block {
  margin-top: 50px;
  overflow: hidden;
  color: #6b6a6f;
  text-align: left;
}
.main_wrap .con_wrap .con2 .con2_wrap .describle2 .describle_condent .block div {
  width: 520px;
  margin-left: 55px;
}
.main_wrap .con_wrap .con2 .con2_wrap .describle2 .describle_condent .block div h1 {
  font-size: 24px;
  font-weight: normal;
  margin-top: 20px;
}
.main_wrap .con_wrap .con2 .con2_wrap .describle2 .describle_condent .block div h2 {
  font-size: 18px;
  font-weight: normal;
}
.main_wrap .con_wrap .con2 .con2_wrap .describle3 .describle_condent > img {
  margin-bottom: 30px;
}
.main_wrap .con_wrap .con2 .con2_wrap .describle3 .describle_condent p {
  width: 730px;
  margin: 55px auto 80px;
  line-height: 30px;
  font-size: 18px;
  color: #6b6a6f;
  text-align: left;
  text-indent: 2em;
}
.main_wrap .con_wrap .con2 .con2_wrap .describle3 .describle_condent .ems span {
  color: #221236;
  font-size: 36px;
}
.main_wrap .con_wrap .con2 .con2_wrap .describle3 .describle_condent .ems .yinhao3_zuo {
  position: relative;
  left: -8px;
  top: -30px;
}
.main_wrap .con_wrap .con2 .con2_wrap .describle3 .describle_condent .ems .yinhao3_you {
  position: relative;
  right: -10px;
  top: 18px;
}
.main_wrap .con_wrap .con3 {
  color: #fff;
  background: #221236;
  position: relative;
}
.main_wrap .con_wrap .con3 .content {
  width: 970px;
  height: 560px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -280px 0 0 -485px;
}
.main_wrap .con_wrap .con3 .content h1 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 100px;
}
.main_wrap .con_wrap .con3 .content .top_img,
.main_wrap .con_wrap .con3 .content .bottom_img {
  overflow: hidden;
  margin: 10px 0;
}
.main_wrap .con_wrap .con3 .content .top_img > div,
.main_wrap .con_wrap .con3 .content .bottom_img > div {
  float: left;
  height: 20px;
  width: 20px;
  position: relative;
}
.main_wrap .con_wrap .con3 .content .top_img > div .bing_img,
.main_wrap .con_wrap .con3 .content .bottom_img > div .bing_img {
  display: none;
}
.main_wrap .con_wrap .con3 .content .top_img > div:nth-of-type(2) {
  float: right;
}
.main_wrap .con_wrap .con3 .content .bottom_img > div:nth-of-type(2) {
  float: right;
}
.main_wrap .con_wrap .con3 .content .top_img img,
.main_wrap .con_wrap .con3 .content .bottom_img img {
  position: absolute;
  left: 0;
  top: 0;
}
.main_wrap .con_wrap .con3 .content .content_center {
  height: 317px;
  width: 850px;
  margin: 0 auto;
  overflow: hidden;
}
.main_wrap .con_wrap .con3 .content .content_center .content_center_contents {
  float: left;
  width: 390px;
  margin-right: 30px;
  margin-bottom: 46px;
}
.main_wrap .con_wrap .con3 .content .content_center .content_center_contents .number {
  width: 74px;
  height: 74px;
  background: url(../img/aboutxiaoniao/jiazhi_quanquan.png) no-repeat;
  line-height: 74px;
  text-align: center;
  margin-right: 27px;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
}
.main_wrap .con_wrap .con3 .content .content_center .content_center_contents p {
  float: left;
  text-align: left;
  width: 280px;
  font-size: 18px;
  margin-top: 13px;
}
.main_wrap .con_wrap .con4 {
  background: #f1f2f6;
  position: relative;
}
.main_wrap .con_wrap .con4 .yun_content {
  width: 910px;
  height: 560px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -280px 0 0 -455px;
}
.main_wrap .con_wrap .con4 .yun_content > h1 {
  font-size: 54px;
  margin-bottom: 20px;
  text-align: center;
  color: #311759;
}
.main_wrap .con_wrap .con4 .yun_content .content_box {
  height: 420px;
  width: 910px;
  overflow: hidden;
  position: relative;
}
.main_wrap .con_wrap .con4 .yun_content .content_box .slider_box {
  width: 5000px;
  height: 420px;
  position: absolute;
  top: 0;
  left: 0;
}
.main_wrap .con_wrap .con4 .yun_content .content_box .slider_box > div {
  width: 910px;
  float: left;
  line-height: 36px;
  background: url(../img/aboutxiaoniao/xuxian_bg.png);
}
.main_wrap .con_wrap .con4 .yun_content .content_box .slider_box > div p {
  text-indent: 2em;
  font-size: 16px;
  font-family: KaiTi_GB2312;
  color: #535355;
  text-align: left;
}
.main_wrap .con_wrap .con4 .yun_content .btn_box {
  width: 204px;
  height: 8px;
  margin: 0 auto;
}
.main_wrap .con_wrap .con4 .yun_content .btn_box > div {
  float: left;
  margin: 0 12px;
  width: 78px;
  height: 8px;
  border-radius: 4px;
  background: url(../img/aboutxiaoniao/xiaoniaoyun_btn.png) no-repeat 0 -8px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.main_wrap .con_wrap .con4 .yun_content .btn_box > div .yun_btn {
  position: absolute;
  top: 0;
  left: -78px;
  width: 78px;
  height: 8px;
  background: url(../img/aboutxiaoniao/xiaoniaoyun_btn.png) no-repeat 0 0px;
  transition: all 0.5s ease 0s;
}
.main_wrap .con_wrap .con4 .yun_content .btn_box > div > .now {
  left: 0;
  cursor: default;
  transition: all 0.5s ease 0s;
}
.main_wrap .con_wrap .con5 {
  position: relative;
  background: url(../img/aboutxiaoniao/app&contacts_bg.gif) center center no-repeat;
}
.main_wrap .con_wrap .con5 .a_c_content {
  width: 910px;
  height: 540px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -280px 0 0 -576px;
}
.main_wrap .con_wrap .con5 .a_c_content .app_content {
  position: relative;
}
.main_wrap .con_wrap .con5 .a_c_content .app_content p,
.main_wrap .con_wrap .con5 .a_c_content .app_content h1 {
  color: #fff;
  position: absolute;
}
.main_wrap .con_wrap .con5 .a_c_content .app_content p {
  left: 213px;
  top: 0px;
}
.main_wrap .con_wrap .con5 .a_c_content .app_content h1 {
  font-size: 32px;
  left: 550px;
  top: 113px;
}
.main_wrap .con_wrap .con5 .a_c_content .app_content img {
  margin-left: -300px;
}
.main_wrap .con_wrap .con5 .a_c_content .contacts_content {
  text-align: left;
  float: right;
}
.main_wrap .con_wrap .con5 .a_c_content .contacts_content h1 {
  font-size: 32px;
  line-height: 60px;
  height: 60px;
  width: 380px;
  background: url(../img/aboutxiaoniao/contacts_line.png) no-repeat bottom left;
  color: #191919;
  margin-bottom: 14px;
}
.main_wrap .con_wrap .con5 .a_c_content .contacts_content p {
  line-height: 32px;
  color: #191919;
}
.welcome_wrap {
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99999;
  overflow: hidden;
  position: absolute;
  background: #299ad6;
  text-align: center;
}
.welcome_wrap .welcome_slider {
  position: absolute;
  left: 0;
  top: 40%;
  width: 370px;
  height: 50px;
  display: none;
  background: url(../img/about_tips.png) center no-repeat;
  line-height: 50px;
  color: dimgray;
}
.welcome_wrap .welcome_content {
  min-width: 1100px;
  width: 100%;
  height: 560px;
  top: 58%;
  margin-top: -280px;
  position: absolute;
  color: #fff;
}
.welcome_wrap .welcome_content div {
  position: relative;
  top: -25px;
}
.welcome_wrap .welcome_content div .title {
  font-size: 44px;
}
.welcome_wrap .welcome_content div .title_en {
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.welcome_wrap .welcome_content div .ems .yinhao1_zuo {
  position: relative;
  top: -30px;
}
.welcome_wrap .welcome_content div .ems span {
  font-size: 48px;
}
.welcome_wrap .welcome_content div .ems .yinhao1_you {
  position: relative;
  top: 17px;
}
.welcome_wrap .welcome_content div p {
  font-size: 20px;
  padding-bottom: 5px;
}
.welcome_wrap .welcome_content div .welcome_animated {
  display: none;
}
.header_wrap {
  z-index: 9999;
  width: 100%;
  position: fixed;
  background: #221236 url(../img/aboutxiaoniao/beader_bg.jpg) top center;
  min-width: 1100px;
}
.header_wrap .header {
  height: 50px;
  width: 1100px;
  margin: 0 auto;
}
.header_wrap .header .logo {
  float: left;
}
.header_wrap .header .nav_wrap {
  width: 930px;
  margin: 0px auto;
  height: 25px;
  line-height: 25px;
  float: right;
  padding-top: 11px;
  text-align: right;
}
.header_wrap .header .nav_wrap .nav_list {
  float: left;
  position: relative;
}
.header_wrap .header .nav_wrap .nav_list h1 {
  font-size: 16px;
  text-align: center;
  padding: 0 15px;
  position: relative;
  cursor: pointer;
  height: 30px;
  color: #aeabb4;
}
.header_wrap .header .nav_wrap .nav_list h1:hover {
  background: url(../img/nav_now_bg.png) no-repeat bottom center;
  color: #fff;
  transition: all 0.5s ease 0s;
}
.header_wrap .header .nav_wrap .now h1 {
  background: url(../img/nav_now_bg.png) no-repeat bottom center;
  color: #fff;
}
